*.pyc
*.swp
.idea
/site/
/venv/
/dist/
/*.sh
local_requirements.txt
fabfile.py
gunicorn.py
invoke.yml
nautobot.log
nautobot.pid
.DS_Store
.coverage
.vscode
docker-compose.override.yml
override.env
*.egg-info
.python-version
