*.pyc
*.swp
/site/
/venv/
/dist/
/db/
/*.sh
!upgrade.sh
local_requirements.txt
fabfile.py
gunicorn.py
invoke.yml
nautobot.log
nautobot.pid
.DS_Store
.idea
.idea/*
.coverage
.vscode
docker-compose.override.yml
override.env
*.egg-info
.python-version
