{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load static %}
{% load render_table from django_tables2 %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li>Dolt</li>
                <li><a href="{% url 'plugins:nautobot_version_control:commit_list' %}">Commits</a></li>
                <li>{{ object.short_message }}</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'plugins:nautobot_version_control:commit_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search commits" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-magnify" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right noprint">
        {% plugin_buttons object %}
    </div>
    <h1>{% block title %}{{ object.short_message }}{% endblock %}</h1>
    {% include 'inc/created_updated.html' %}
    <div class="pull-right noprint">
        {% custom_links object %}
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{{ object.get_absolute_url }}">Commit</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Commit</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Commit Hash</td>
                    <td>{{ object.commit_hash|placeholder }}</td>
                </tr>
                <tr>
                    <td>Committer</td>
                    <td>{{ object.committer|placeholder }}</td>
                </tr>
                <tr>
                    <td>Commiter Email</td>
                    <td>{{ object.email|placeholder }}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ object.date|placeholder }}</td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>{{ object.message|placeholder }}</td>
                </tr>
            </table>
        </div>
	</div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Diff Summary</strong>
            </div>
            <div class="list-group">
                {% for obj_type in results %}
                <a href="#{{ obj_type.name|lower }}" class="row list-group-item">
                    <div class="col-md-6 align-middle">{{ obj_type.name }}</div>
                    <div class="col-md-6 text-right">
                        <span class="label label-success">{{ obj_type.added }}</span>
                        <span class="label label-warning">{{ obj_type.modified }}</span>
                        <span class="label label-danger">{{ obj_type.removed }}</span>
                        <span class="badge">{{ obj_type.table.page.paginator.count }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'nautobot_version_control/diffs.html' with results=results %}

{% endblock %}
